@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: #2f2f2f;
    background-size: 400% 400%;
	animation: gradient 35s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #ffffff;
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 350px;
    left:50%;
    padding: 10px 80px;
    transform: translate(-50%, -50%);
    background-color: #f2f2f23d;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #ffffff;
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 450px;
    left:50%;
    padding: 10px 90px;
    transform: translate(-50%, -50%);
    background-color: #f2f2f211;

    
}
p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
    margin-top: 200px;
}
.pb {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 5px solid #000000;
}
.social-menu ul {
    position: absolute;
    top: 550px;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}
.social-menu ul li {
    list-style: none;
    margin: 25px 25px;
    
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 200px;
    line-height: 250px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 350px;
    height: 250px;
    border-radius: 25% 12% 25% 0%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(10deg) skew(1deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #25d366;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e1306c;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: green;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #ea4335;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #fffc00;
}
.social-menu ul li:nth-child(6) a:hover {
    background-color: rgb(181, 0, 0);
}
.social-menu ul li:nth-child(7) a:hover {
    background-color: #333;
}
.social-menu ul li:nth-child(8) a:hover {
    background-color: #1db954
}
.social-menu ul li:nth-child(9) a:hover {
    background-color: #0e76a8
}
@media screen and (max-width : 800px) {

    h1{
        font-size: 2rem;
        align-content: center;
    }
    .social-menu ul {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 0%; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;   
    
}
    .social-menu ul li{
        list-style: none;
        margin: 20px 20px;
        }
    .social-menu ul li .fa {
        color: #ffffff;
        font-size: 55px;
        line-height: 100px;
        transition: .5s;
    }
    .social-menu ul li a {
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        transition: 0.5s;
        transform: translate(0,0px);
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);

    }

    .social-menu ul li a {
        transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }
    .social-menu ul li:nth-child(1) a {
        background-color: #25d366;
    }
    .social-menu ul li:nth-child(2) a {
        background-color: #e1306c;
    }
    .social-menu ul li:nth-child(3) a {
        background-color: green;
    }
    .social-menu ul li:nth-child(4) a {
        background-color: #ea4335;
    }
    .social-menu ul li:nth-child(5) a {
        background-color: #fffb00;
    }
    .social-menu ul li:nth-child(6) a {
        background-color: #0077B5;
    }
    .social-menu ul li:nth-child(7) a {
        background-color: #333;
    }
    .social-menu ul li:nth-child(8) a {
        background-color: #1db954;
    }
    .social-menu ul li:nth-child(9) a {
        background-color: #0e76a8
    }
}

    